h1{
    color: #d252d2
}
body{
    background-color: rgb(101, 3, 3);
    background-image: url(src/imagens/foto.2.jpg);
    background-repeat: no-repeat;
    background-size: ;
    background-position: ;
}
